@charset 'utf-8';
@import url("normalize.css");

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

strong {
  font-weight: normal;
}
em {
  font-style: normal;
}
a {
  color: inherit;
  text-decoration: none;
}
button {
  border: none;
  outline: none;
  cursor: pointer;
}

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

input[type="text"],
input[type="password"],
input[type="checkbox"],
input[type="number"],
input[type="tel"],
input[type="email"] {
  outline: none;
  border: none;
  background: #fff;
  color: #333;
  padding: 0 10px;
}

input::-ms-clear {
  display: none;
}

input:-webkit-autofill {
  background: #fff !important;
  -webkit-text-fill-color: #333 !important;
}

html,
body {
  width: 100%;
  font-family: "NotoSansR";
  font-size: 14px;
  color: #333;
}
body {
  background: #fff;
}
::-moz-selection,
::selection {
  background: #84b54d;
}

@font-face {
  font-family: "NotoSansL";
  src: url("../../font/notokr-light.eot"); /* IE9 Compat Modes */
  src: url("../..font/notokr-light.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../../font/notokr-light.woff") format("woff");
}

@font-face {
  font-family: "NotoSansR";
  src: url("../../font/notokr-regular.eot"); /* IE9 Compat Modes */
  src: url("../../font/notokr-regular.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../../font/notokr-regular.woff") format("woff");
}

@font-face {
  font-family: "NotoSansM";
  src: url("../../font/notokr-medium.eot");
  src: url("../../font/notokr-medium.eot?#iefix") format("embedded-opentype"),
    url("../../font/notokr-medium.woff") format("woff");
}
@font-face {
  font-family: "NotoSansB";
  src: url("../../font/notokr-bold.eot");
  src: url("../../font/notokr-bold.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../../font/notokr-bold.woff") format("woff");
}

@font-face {
  font-family: "GiloryL";
  src: url("../../font/gilory_light.eot"); /* IE9 Compat Modes */
  src: url("../../font/gilory_light.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../../font/gilory_light.woff") format("woff");
}

@font-face {
  font-family: "GiloryB";
  src: url("../../font/gilory_bold.eot"); /* IE9 Compat Modes */
  src: url("../../font/gilory_bold.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../../font/gilory_bold.woff") format("woff");
}
