@charset "utf-8";

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
textarea {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: "NotoSans";
  vertical-align: baseline;
  box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  color: #a3a6b4;
  font-family: "NotoSans";
  font-weight: 400;
  line-height: 1;
  background: #f1f1f1 !important;
}
img {
  max-width: 100%;
  vertical-align: top;
}
ol,
ul,
li {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
th,
td {
  vertical-align: middle;
}

a {
  color: inherit;
  text-decoration: none;
  box-sizing: border-box;
}

input,
textarea {
  box-sizing: border-box;
}

textarea {
  width: 100%;
  padding: 10px 15px;
  border: 1px solid #eee;
  border-radius: 10px;
  font-size: 14px;
  line-height: 21px;
  color: #333;
}

/* color 정의 */
.blue-color {
  color: #3b86ff;
}
/*  */
